[build]
  command = "npm run netlify-build"
  publish = "client/build"
  functions = "server"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200